#Pagina de inicio

DirectoryIndex index.php

#impedir lsitado de contenido de directorios

Options All -Indexes

#url amigables
RewriteEngine On
RewriteBase /sistemapos/

#RewriteRule ^(\w+)$ index.php?accion=$1

RewriteRule ^([a-zA-Z0-9-/]+)$ index.php?accion=$1